.logo-text {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
}

p {
  font-family: "Noto Sans", sans-serif;
}

.logo-icon {
  width: 85px;
}

.navbar-toggler-icon {
  color: white;
}

.nav-icon {
  color: white;
  font-size: 2rem;
}

.nav-icon-sm {
  color: white;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.nav-icon-xs {
  color: white;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

.footer-icon-xs {
  color: white;
  font-size: 1.6rem;
  padding: 0.3rem 0.6rem;
  margin: 0 1em;
}

.login {
  font-weight: 500;
}

.navbar-toggler {
  border: none;
  background: none;
}

.nav-bg {
  background-color: #012a36;
}

.nav-link {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

.active {
  background-color: #6aaae4;
  border-radius: 0.4rem;
  font-weight: 500;
}

.nav-position {
  display: flex;
  justify-content: start;
  position: relative;
}

.login-position {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 0;
}

.cr-text {
  color: white;
  font-family: "Noto Sans", sans-serif;
  margin: 0%;
}

.second-nav-bg {
  background-color: #465c69;
}

.overflow-x {
  overflow-x: scroll;
  white-space: nowrap;
}

.group-link {
  margin: 0 0.2rem;
  color: white;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  font-family: Poppins, sans-serif;
  text-decoration: none;
}

.group-link.active:hover {
  color: #465c69;
}

.group-link:hover {
  color: #6aaae4;
}

div::-webkit-scrollbar {
  display: none;
}

.team-wrapper {
  background-color: #d9d9d971;
  width: 30rem;
  padding: 1rem 6rem;
  border-radius: 1rem;
}

.team-wrapper-edit {
  background-color: #d9d9d971;
  width: 30rem;
  border-radius: 1rem;
}

.team-flag {
  height: 30px;
  width: 55px;
  object-fit: cover;
}

.team-name {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

.team-link {
  color: black;
  text-decoration: none;
}

.team-link:hover {
  color: #6aaae4;
}

.team-title-link {
  color: black;
  text-decoration: none;
  width: 475px;
  margin-bottom: 0.5rem;
}

.team-title-link:hover {
  color: rgb(255, 255, 255);
}

.page-title {
  font-size: 3rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.center-group-nav {
  padding: 0 20rem;
}

.group-wrapper {
  background-color: #6aa9e488;
  max-width: 45%;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
}

.group-title {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

.btn-primary {
  background-color: #6aaae4;
  border: none;
  font-family: Poppins, sans-serif;
}

.fa-link {
  text-decoration: none;
  color: #6aaae4;
}

.w {
  background-color: #20c997;
}

.l {
  background-color: #dc3545;
}

.d {
  background-color: #ffc107;
}

.match-icon {
  color: black;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  border-radius: 4rem;
  padding: 1rem;
}

.match-icon-text {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.fa-link:hover {
  text-decoration: none;
  color: #012a36;
}

.empty-btn {
  border: none;
  background-color: transparent;
  display: flex;
  margin: 0;
  padding: 0;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal-content {
  padding: 1rem 2rem;
  background-color: white;
  max-width: 600px;
  width: 80%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
}

.accordion-button-bg {
  background-color: red;
}

.editing-wrapper {
  position: relative;
  color: white;
  background-color: #8a1538;
  padding: 0 5rem;
  margin-bottom: 5.5rem;
}

.editing-wrapper-title {
  font-weight: 600;
}

.editing-icons {
  font-size: 1.4rem;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

label {
  -webkit-font-smoothing: antialiased;
  width: 30rem;
  padding: 1rem 6rem;
  border-radius: 1rem;
}

input[type="checkbox"] {
  display: none;
}

input:checked + label {
  background-color: rgba(106, 170, 228, 0.5);
}

input:checked + label::before {
  content: "";
}

.alert-window {
  background-color: rgba(248, 215, 218, 1);
  color: #8a1538;
  width: 30%;
  border-color: #8a1538;
}

.auth-input {
  width: 27rem;
}

.edit-bracket-wrapper {
  background-color: #d9d9d971;
  width: 35rem;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
}

.bracket-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

.editing-delete-icon {
  font-size: 1.5rem;
  color: #8a1538;
  padding-right: 1rem;
}

.editing-icon {
  font-size: 1.3rem;
  color: black;
  padding: 0 1rem;
}

.prediction-btn {
  padding: 0.6rem 2rem;
}

@media (max-width: 992px) {
  .nav-position {
    display: block;
  }

  .login-position {
    display: block;
    position: static;
    padding-top: 1.5rem;
  }

  .team-wrapper {
    max-width: 100%;
    padding: 1rem 6rem;
  }

  .auth-input {
    width: 20rem;
  }
}

@media (max-width: 576px) {
  .logo-text {
    font-size: 1.1rem;
  }

  .logo-icon {
    width: 75px;
  }

  .footer-icon-xs {
    color: white;
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
    margin: 0 0.5em;
  }

  .team-wrapper {
    max-width: 375px;
    padding: 0.8rem 2rem;
  }

  .team-flag {
    height: 25px;
    width: 50px;
  }

  .team-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Poppins, sans-serif;
  }

  .group-wrapper {
    max-width: 45%;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    margin-left: 1.3rem;
  }

  .team-title-link {
    width: 420px;
  }

  .edit-bracket-wrapper {
    width: 20rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
}

@media (max-width: 375px) {
  .team-wrapper {
    width: 300px;
    padding: 0.8rem 2rem;
  }

  .team-title-link {
    width: 340px;
  }
}
